//colors
$rose: #df3752;
$yellow: #ffc700;
$purple: #431641;
$gray: #737176;
$gray-light:#f3f3f3;
$gray-medium: #e4e5e7;
$dark-light:#424242;
$white: white;

//breakpoints
$x-small: 320px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

//fonts
$rubik: 'Rubik',
sans-serif;