@import './_variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: $rubik;
}

section {
  padding: 50px 0;
}

.brand-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $purple;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  // padding: 5px;
  color: $purple;

  a {
    color: $purple;
  }

  img {
    color: $purple;
    height: 24px;
    width: 24px;
  }
}

.contact-icons {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 40px;
  height: 40px;
  // padding: 5px;
  color: $purple;

  a {
    color: $purple;
  }

  img {
    color: $purple;
    height: 24px;
    width: 24px;
  }
}

svg {
  fill: currentColor;
}

.navbar-light {
  background-color: $white;
  box-shadow: 0 0 1px 0 $gray-medium,
    0 2px 2px 0 $gray-medium;
}

.bg-gray {
  background-color: $gray-medium;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-onda {
  background-image: url('/dinamica_ludica_landingpage_institucional/assets/img/onda-transicao.png');
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0vh;
  background-color: $white;
  position: relative;
  margin-top: -15vh;
}


// logo, navbar
.home-logo {
  img {
    width: 6em;
    margin: 0px;
    padding: 0px;
  }
}

.link-contact {
  color: $purple;

  &:hover {
    color: $yellow;
  }
}

.btn-outline {
  &-purple {
    margin: 0 15px;
    text-transform: uppercase;
    color: $purple;
    border: 1px solid $purple;
  }

  &-yellow {
    margin: 0 5px;
    text-transform: uppercase;
    color: $purple;
    border: 1px solid $yellow;
    background-color: $yellow;
  }
}

#banner {
  .title-section1 {
    padding-top: 5vh;
    bottom: 30px;

    h1 {
      font-size: 3.5em;
      color: $purple;
      font-weight: 400;

      span {
        color: $rose;
      }
    }

    p {
      font-size: 18px;
      color: $dark-light;
    }
  }

  .lines-bg {
    position: absolute;
    top: 14vh;
    width: 100%;
  }

  .dots-white {
    position: relative;
    top: 50vh;
    width: 6vw;
    left: 5vw;
  }

  .red-square {
    position: relative;
    top: 7vh;
    width: 15px;
    float: right;
    left: 32vw;
  }

  .dot-balls {
    overflow: hidden;
    position: relative;
    top: 25vh;
    float: right;
    width: 150px;

    img {
      position: relative;
      left: 6vw;
      width: 280px;
    }

  }

  .men-banner {
    position: relative;
    bottom: 50px;
    float: right;
    left: 2vw;
  }
}

#section2 {
  .dot-balls-light {
    position: relative;
    top: 25vh;
    right: 22vw;

    img {
      position: absolute;
      width: 280px;
    }
  }

  .text-information {
    margin-top: 15vh;

    h2 {
      color: $dark-light;
      font-size: 2.3em;
      font-weight: 400;
    }

    .texts-p {
      margin-top: 7vh;

      p {
        color: $gray;
        font-size: 18px;

        span {
          color: $purple;
        }
      }
    }

  }

  .wave-phone {
    overflow: hidden;
    position: relative;
    top: 25vh;
    float: right;
    width: 98vw;

    img {
      position: relative;
      left: 52vw;
      width: 70%;
    }
  }

  .phone-m {
    position: relative;
    top: 0vh;
    left: 5vw;
    z-index: 999;

    img {
      position: absolute;
      width: 22vw;
    }
  }

  .dots-yellow {
    position: relative;
    top: 70vh;
    left: 0vw;
    z-index: 99;

    img {
      position: absolute;
      width: 8vw;
    }
  }
}

#section3 {
  .title-line {
    margin-bottom: 3em;

    p {
      color: $rose;
      font-size: 20px;
      font-weight: 600;
    }

    hr {
      border: 0;
      border-top: 3px solid $yellow;
      margin-bottom: 3rem;
      margin-top: -1em;
      width: 185px;
      float: left;
      position: absolute;
    }
  }

  h3 {
    color: $dark-light;
    font-size: 2.4em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  p {
    font-size: 20px;
    color: $gray;
  }
}

.bg-gradient {
  background-image: linear-gradient(-90deg, #d1384d, #d4453c);
}

.stages-circle {
  display: flex;
  justify-content: space-around;

  .circle {
    background-color: $purple;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;

    p {
      text-align: center;
      font-size: 35px;
      color: $white;
      margin: 10px 0;
      font-weight: 600;
    }
  }
}


.stages-icons {
  display: flex;
  justify-content: space-around;

  .stage-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;

    p {
      color: $white;
      text-align: center;
    }

    #stage-img1 {
      width: 120px;
      margin-top: 35px;
    }
  }

  .stage-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
      color: $white;
      text-align: center;
      margin-right: 30px;
    }

    #stage-img2 {
      width: 150px;
    }
  }

  .stage-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
      color: $white;
      text-align: center;
    }

    #stage-img3 {
      width: 70px;
      margin-top: 35px;
      margin-right: 20px;
    }
  }
}

.img-thumb {
  max-height: 95px;
  min-width: 100px;
}

footer {
  .copy {
    background-color: $purple;
    font-size: small;
    margin-top: 8px;
    padding: 8px;
  }
}